<ion-header mode="md">
  <ion-toolbar>
    <ion-button slot="start" mode="ios" fill="clear">
      <ion-icon color="dark" slot="icon-only" name="menu-outline"></ion-icon>
    </ion-button>

    <ion-button slot="end" mode="ios" fill="clear">
      <img src="../../../assets/images/home/notification.svg" alt="">
    </ion-button>
  </ion-toolbar>
  <h2 class="title">الاشتراكات</h2>

</ion-header>

<ion-content>

  <ion-segment value="0" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="0">
      <ion-label>غير مشترك</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>الخطة 1</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>الخطة 2</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>الخطة 3</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-item lines="none">
    <ion-searchbar mode="ios" placeholder="الاسم..." inputmode="decimal" type="decimal"
      [debounce]="250"></ion-searchbar>
  </ion-item>
  <div class="list">

    <ion-item lines="none" button>
      <ion-img slot="start" src="../../../assets/more_vert.svg"></ion-img>
      <ion-label>
        <h3>منى الراشدى</h3>
        <p>@monaelrashidy</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" button>
      <ion-img slot="start" src="../../../assets/more_vert.svg"></ion-img>
      <ion-label>
        <h3>منى الراشدى</h3>
        <p>@monaelrashidy</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" button>
      <ion-img slot="start" src="../../../assets/more_vert.svg"></ion-img>
      <ion-label>
        <h3>منى الراشدى</h3>
        <p>@monaelrashidy</p>
      </ion-label>
    </ion-item>



  </div>

</ion-content>