ion-header {
  box-shadow: none;
  --box-shadow: none;
}
.container {
  padding: 16px 24px 0;
  max-width: 1024px;
  margin: auto;
}
h2.title {
  opacity: 0.6;
  color: #000;
  font-size: 20px;
  padding-inline-start: 16px;
}
ion-segment {
  background: #fff;
  padding-inline: 6px;
  margin-bottom: 3px;
  ion-segment-button {
    --padding-start: 0;
    --padding-end: 0;
    letter-spacing: 0;
    font-size: 14px;
  }
  ion-label {
    color: #000;
    font-family: "bold";
    font-size: 14px;
    opacity: 0.32;
  }
  ion-segment-button.segment-button-checked {
    ion-label {
      color: #000;
      opacity: 1;
    }
  }
}

.list {
  ion-item {
    margin-top: 3px;
    --padding-top: 4px;
    --padding-bottom: 4px;

    ion-label {
      font-size: 14px;
      color: #000;
      font-family: "medium";
      p {
        font-size: 12px;
        opacity: 0.6;
      }
    }
  }
}
