<ion-header mode="md">
  <ion-toolbar>
    <ion-button slot="start" mode="ios" fill="clear" (click)="nav('menu')">
      <ion-icon color="dark" slot="icon-only" name="menu-outline"></ion-icon>
    </ion-button>

    <ion-button slot="end" mode="ios" fill="clear">
      <img src="../../../assets/images/home/notification.svg" alt="">
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <h2 class="title">اجرائات سريعة</h2>

  </div>
  <div class="boxsContainer animate__animated animate__zoomIn fast">
    <div class="box">
      <div class="circle">
        <img src="../../../assets/images/home/finger-scan.svg" alt="">
      </div>
      <p>تسجيل حضور</p>
    </div>
    <div class="box">
      <div class="circle">
        <img src="../../../assets/images/home/user-add.svg" alt="">
      </div>
      <p>اضافة عميل </p>
    </div>
    <div class="box">
      <div class="circle">
        <img src="../../../assets/images/home/ticket-star.svg" alt="">

      </div>
      <p>تفعيل اشتراك</p>
    </div>
    <div class="box">
      <div class="circle">
        <img src="../../../assets/images/home/ticket-2.svg" alt="">

      </div>
      <p>انشاء تذكرة</p>
    </div>
    <div class="box">
      <div class="circle">
        <img src="../../../assets/images/home/wallet-minus.svg" alt="">
      </div>
      <p>كشف حساب</p>
    </div>
  </div>
  <div class="container">
    <div class="numbers animate__animated animate__zoomIn fast">
      <div class="box1">
        <p>المهمات</p>
        <h2>25</h2>
      </div>
      <div class="box2">
        <p>الرصيد الحالى</p>
        <h2>24,000 </h2>
      </div>
    </div>
    <h2 class="title">احدث المهمات</h2>

  </div>
  <div class="tasks">
    <div class="container">
      <div class="task-box animate__animated animate__fadeIn fast">
        <div class="start">
          <img src="../../../assets/images/home/more_vert.svg" alt="">
        </div>
        <div class="content">
          <div class="content-header">
            <div class="header-start">
              <h3>فحص راوتر #125</h3>
              <p>اليوم</p>
            </div>
            <div class="header-end">
              <span>دعم</span>
            </div>
          </div>
          <p class="desc">قم بمراجعة حسابات الشركة والتأكد من دقة واكتمال السجلات المالية...</p>
          <p class="status">
            <span></span>
            قيد المعالجة
          </p>
        </div>
      </div>
      <div class="task-box animate__animated animate__fadeIn fast">
        <div class="start">
          <img src="../../../assets/images/home/more_vert.svg" alt="">
        </div>
        <div class="content">
          <div class="content-header">
            <div class="header-start">
              <h3>توصيل النت لعميل #173</h3>
              <p>اليوم</p>
            </div>
            <div class="header-end">
              <span>انستليشن</span>
            </div>
          </div>
          <p class="desc">قم بمراجعة حسابات الشركة والتأكد من دقة واكتمال السجلات المالية...</p>
          <p class="status">
            <span></span>
            قيد المعالجة
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>