<ion-header mode="md">
  <ion-toolbar>
    <ion-button slot="start" mode="ios" fill="clear" (click)="back()">
      <!-- <ion-icon color="dark" slot="icon-only" name="arrow-forward"></ion-icon> -->
      <ion-img src="../../../assets/images/icons8_back 1.svg"></ion-img>
    </ion-button>


    <ion-title>المخازن</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="title">اجرائات سريعة</h2>
  <div class="boxsContainer animate__animated animate__zoomIn fast">
    <div class="box">
      <div class="circle">
        <img src="../../../assets/images/arrow2-left.svg" alt="">
      </div>
      <p>ادخال مخزنى</p>
    </div>
    <div class="box">
      <div class="circle">
        <img src="../../../assets/images/arrow2-right.svg" alt="">
      </div>
      <p>اخراج مخزنى </p>
    </div>
    <div class="box">
      <div class="circle">
        <img src="../../../assets/images/exchange.svg" alt="">

      </div>
      <p>مناقلة مخزنية</p>
    </div>
    <div class="box">
      <div class="circle">
        <img src="../../../assets/images/arrow2-left.svg" alt="">

      </div>
      <p>اضافة مخزن</p>
    </div>
    <div class="box">
      <div class="circle">
        <img src="../../../assets/images/exchange.svg" alt="">
      </div>
      <p>جرد مخزن</p>
    </div>
  </div>

  <div class="list">

    <ion-item lines="none">

      <ion-label>
        قائمة المخازن
      </ion-label>
    </ion-item>
    <ion-item lines="none" button>
      <ion-img slot="start" src="../../../assets/more_vert.svg"></ion-img>
      <ion-label>
        <h3>منى الراشدى</h3>
        <p>@monaelrashidy</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" button>
      <ion-img slot="start" src="../../../assets/more_vert.svg"></ion-img>
      <ion-label>
        <h3>منى الراشدى</h3>
        <p>@monaelrashidy</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" button>
      <ion-img slot="start" src="../../../assets/more_vert.svg"></ion-img>
      <ion-label>
        <h3>منى الراشدى</h3>
        <p>@monaelrashidy</p>
      </ion-label>
    </ion-item>



  </div>
</ion-content>